* {
    padding: 0px;
    margin: 0px;
}

/* chessboard */

.board {
    display: flex;
    flex-direction: column;
}

.row1 .even {
    height: 100px;
    width: 100px;
    float: left;
    background-color: wheat;
}

.row1 .odd {
    height: 100px;
    width: 100px;
    float: left;
    background-color: brown;
}

.row2 .even {
    height: 100px;
    width: 100px;
    float: left;
    background-color: brown;
}

.row2 .odd {
    height: 100px;
    width: 100px;
    float: left;
    background-color: wheat;
}

/* webstruc */

.struc {
    display: flex;
    flex-direction: column;
}

.red {
    height: 50px;
    width: 100%;
    background-color: red;
}

.green-blue {
    display: flex;
}

.green {
    height: 50px;
    width: 50%;
    background-color: green;
}

.blue {
    height: 50px;
    width: 50%;
    background-color: blue;
}

.cyan-mar-mag {
    display: flex;
}

.cyan {
    height: 50px;
    width: 33.3%;
    background-color: cyan;
}

.mar {
    height: 50px;
    width: 33.3%;
    background-color: maroon;
}

.mag {
    height: 50px;
    width: 33.3%;
    background-color: magenta;
}

.yellow {
    height: 50px;
    width: 100%;
    background-color: yellow;
}

.sky {
    height: 50px;
    width: 100%;
    background-color: skyblue;
}

/*navbar start here */

.navbar {
    height: 60px;
    width: 100%;
    background-color: red;
    padding-top: 5px;
}

.navbar nav ul li {
    display: inline-block;
}

.navbar nav ul li .nav {
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 0.5px;
    padding: 5px 7px;
    border-radius: 3px;
}

.navbar nav ul li .nav:hover {
    background-color: #fff;
    color: red;
}
