table thead tr th {
    border: 0.1px solid #000;
    padding: 4px 25px;
    background-color: #4868e9;
    color: #fff;
    border-radius: 5px;
}

table tbody tr td {
    border: 0.1px solid #000;
    padding: 4px 25px;
    background-color: #f1b6b6;
    text-align: center;
    border-radius: 5px;
}